30N_070E (1).tif.aux.xml
30N_070E.tif.aux.xml
2018_2023_data.zip
Aboveground_Live_Woody_Biomass_Density.csv
Aboveground_Live_Woody_Biomass_Density.geojson
CCI_2007_Haldwani.tif
CCI_2010_Haldwani.tif
CCI_2015_Haldwani.tif
CCI_2016_Haldwani.tif
CCI_2017_Haldwani.tif
CCI_2018_Haldwani.tif
CCI_2019_Haldwani.tif
CCI_2020_Haldwani.tif
CCI_2021_Haldwani.tif
CCI_2022_Haldwani.tif
CCI2020_Haldwani.tif.aux.xml
GEDI_L4B_Haldwani_MU_SE.tif
GEDI_L4B_Haldwani_MU_SE.tif.aux.xml
GEDI_L4B_Haldwani.tif.aux.xml
GFW_AGB_2022.tif
GFW_AGB_2022.tif.aux.xml
GFW_AGB_SD.tif.aux.xml
GFW_SD_2022.tif
global_biomass.py
haldwani_2013.csv
Haldwani_2015_CCI.csv
haldwani_2015.csv
Haldwani_2017_CCI.csv
haldwani_2017.csv
Haldwani_2018_CCI.csv
Haldwani_2018_GEDI.csv
haldwani_2018.csv
Haldwani_2023_CCI_2022.csv
Haldwani_2023_GEDI.csv
Haldwani_2023_GFW_AGB_2022.csv
Haldwani_2023_GFW_SD_2022.csv
haldwani_2023.csv
haldwani_all_years.cpg
haldwani_all_years.csv
haldwani_all_years.dbf
haldwani_all_years.prj
haldwani_all_years.qmd
haldwani_all_years.shp
haldwani_all_years.shx
haldwani_bounding_box.cpg
haldwani_bounding_box.dbf
haldwani_bounding_box.kml
haldwani_bounding_box.prj
haldwani_bounding_box.qix
haldwani_bounding_box.shp
haldwani_bounding_box.shx
haldwani_buffer.cpg
haldwani_buffer.dbf
haldwani_buffer.prj
haldwani_buffer.shp
haldwani_buffer.shx
haldwani_data.zip
haldwani_global_product.cpg
haldwani_global_product.csv
haldwani_global_product.dbf
haldwani_global_product.prj
haldwani_global_product.shp
haldwani_global_product.shx
Haldwani_Plots.csv
workflow.png
2018_2023_data/2018_2023_data.cpg
2018_2023_data/2018_2023_data.dbf
2018_2023_data/2018_2023_data.shp
2018_2023_data/2018_2023_data.shx
24268744/Codes.zip
24268744/Data.zip
24268744/Metadata.docx
24268744/Codes/PlotBiomass.R
24268744/Codes/Script_India_Biomass_HD_Model.R
24268744/Codes/TreeBiomass.R
24268744/Data/India_height_dbh_8179.csv
24268744/Data/India_Plot_AGB_Test.csv
24268744/Data/PlotBiomass.R
24268744/Data/Script_India_Biomass_HD_Model.R
24268744/Data/TreeBiomass.R
24268744/Data/Volume_Equations_Database_FSI.csv
haldwani_data/__MACOSX/haldwani_data/._Haldwani_Biomass_15to18.KMZ
haldwani_data/__MACOSX/haldwani_data/._Haldwani_Biomass_ForKML_allyear.csv
haldwani_data/__MACOSX/haldwani_data/._Haldwani_Biomass_Plots_2013_corrected.csv
haldwani_data/__MACOSX/haldwani_data/._Haldwani_Biomass_Plots.xlsx
haldwani_data/haldwani_data/Haldwani_Biomass_15to18.dbf
haldwani_data/haldwani_data/Haldwani_Biomass_15to18.KMZ
haldwani_data/haldwani_data/Haldwani_Biomass_15to18.prj
haldwani_data/haldwani_data/Haldwani_Biomass_15to18.shp
haldwani_data/haldwani_data/Haldwani_Biomass_15to18.shx
haldwani_data/haldwani_data/Haldwani_Biomass_allyear.dbf
haldwani_data/haldwani_data/Haldwani_Biomass_allyear.KMZ
haldwani_data/haldwani_data/Haldwani_Biomass_allyear.prj
haldwani_data/haldwani_data/Haldwani_Biomass_allyear.shp
haldwani_data/haldwani_data/Haldwani_Biomass_allyear.shx
haldwani_data/haldwani_data/Haldwani_Biomass_ForKML_15to18.csv
haldwani_data/haldwani_data/Haldwani_Biomass_ForKML_allyear.csv
haldwani_data/haldwani_data/Haldwani_Biomass_Plots_2013_corrected.csv
haldwani_data/haldwani_data/Haldwani_Biomass_Plots.xlsx
haldwani_data/haldwani_data/Haldwani_Height_ForKML.csv
haldwani_data/haldwani_data/Haldwani_Height_Plots.xlsx
haldwani_data/haldwani_data/Haldwani_Height.dbf
haldwani_data/haldwani_data/Haldwani_Height.KMZ
haldwani_data/haldwani_data/Haldwani_Height.prj
haldwani_data/haldwani_data/Haldwani_Height.shp
haldwani_data/haldwani_data/Haldwani_Height.shx
